<%= @jobs.count %>
<% @jobs.each do |c| %>
    <div>
      <%= c.title %>
      <%= link_to c.title, job_path(c, category_id: params[:category_id]) %>
    </div>
<% end %>
<div>
  <%= paginate @jobs %>
</div>